*{
    margin: 0px;
    padding: 0px;
    color: #fff;
    box-sizing: border-box;
    font-family: "Space Grotesk", sans-serif;
}

body{
    background-color: #000;
    display: flex;
    flex-direction: column;
}
/* nav bar */

.sticky-nav{
    background-color: rgba(0, 0, 0, 0.608);
    backdrop-filter: blur(10px);
    color: #fff;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 3.5rem;
    align-items: center;
    padding: 0.5rem;
    top: 0px;
    z-index: 10;
    box-shadow: 0px 0px 10px #ffffff54;
    
}
.logo{
    font-weight: 700;
    font-size: 1.1rem;
}
.nav-options a{
    color: #fff;
    text-decoration: none;
    margin: 0.5rem;
    font-size: 0.9rem;
}

/* main content */
.main-content{
    margin-top: 3.5rem;
    display: flex;
    flex-direction: column;
    
    
}
/* intro */
.intro{
    margin: auto;
    width: 100%;
    padding: 2rem;
    text-wrap: wrap;
    height: 100vh;
    background-image: linear-gradient(#00014c9e,#2f002e);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* .intro h2,p{
  
} */
.intro p{
  font-size: 1.1rem;
  text-align: center;
  margin-top: 2rem;
}
.intro h2{
  font-size: 5vw;
  font-weight: 700;
}
/* #desc {
  margin-top: 2rem;
} */
span{
  color: #d1adff;
  font-weight: 700;
}
.handles{
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.handles .btn,a{
  margin: 0.5rem;
  
}

.handles .btn{
  color: #000;
  background-color: #d1adff;
  padding: 0.7rem 1.5rem;
  border-radius: 0.5rem;
  border: none;
  height: 3rem;
  transition: all 0.3s;
}
.handles a{
  background-color: #000;
  box-shadow: 0px 0px 5px #ffffff7c;
  padding: 0.3rem;
  border-radius: 10px;
}
.handles button:hover{
  background-color: #a78bfa;

}

/* about section */
.about-me{
  text-align: center;
  padding: 2.5rem;
  
  
}
.about-content{
  width: 90%;
  margin: auto;
  padding: 1rem;
  border-radius: 1rem;
  border: solid 2px #fff;
  flex-wrap: wrap;
  
}
/* h3{
  font-size: 2.5rem;
  margin-bottom: 1.5vw;
  text-align: center;
} */
.photo{
  border-radius:50% ;
  object-fit: cover;
  width: 20vw;
  height: 20vw;
  
}
.about-content p{
  /* width: 50%; */
  text-align: start;
}


/* projects */
.projects{
  margin-top: 3rem;
  background-color: #2c2f3aa3;
  padding-top: 2rem;
}
.proj-cards{
  margin: auto;
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
}
.card{
  min-height: 22rem;
  background-color: #000;
  color: #fff;
  border: solid 2px #d1d5db49;
}

.proj-cards .card .card-title{
  margin: 2rem;
  font-weight: 700;
  font-size: 2rem;
}
.proj-cards .card .card-text{
  text-align: justify;
  flex: 1;
}
/* .proj-cards .card .card-tags{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
} */
/* .card-tags span{
  color: #fff;
  background-color: #1e293b;
  border-radius: 3rem;
  padding: 0.2rem 0.5rem;
  font-size: 0.8rem;
  margin-left: 0.5rem;

} */
.proj-btns{
  color: #000;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 1rem;
}
.icon1{
  background-color: #000;
  border: solid 1px #2c2f3a;
}
.icon2{
  background-color: #d1adff;
  border: none;
  color: #000;
}
.icon2 i{
  color: #000;
}

/* technical skills */
.technical-skills i{
  color: #d1adff;
}
.technical-skills .card{
  height: 12rem;
}
.skills-card {
    background-color: #111827;
    border: 1px solid #2c2f3a;
    border-radius: 12px;
    padding: 1.5rem;
    height: 100%;
  }
  .skills-card h5 {
    font-weight: 600;
    margin-bottom: 1rem;
  }
  .badge-skill {
    background-color: #1f2937;
    color: #fff;
    padding: 0.5em 1em;
    border-radius: 50px;
    font-size: 0.9em;
  }
  .icon {
    color: #a78bfa;
    margin-right: 0.5rem;
    font-size: 1.2rem;
  }
/* education */
.edu-card {
    background-color: #111827;
    border: 1px solid #2c2f3a;
    border-radius: 12px;
    padding: 2rem;
  }

  .edu-icon {
    font-size: 1.5rem;
    color: #a78bfa;
    margin-right: 0.5rem;
  }

  .edu-title {
    font-weight: 700;
    font-size: 1.25rem;
  }

  .edu-subtitle {
    color: #9ca3af;
    font-size: 1rem;
  }

  .edu-date {
    color: #9ca3af;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }

  .edu-desc {
    color: #d1d5db;
  }


 .footer {
    background-color: #fff;
    padding: 3rem 1rem;
    color: #6b7280;
  }
.footer i{
  color: #111827;
}
  .footer h5 {
    font-weight: 600;
    text-align: center;
    color: #000;
  }

  .footer a,p,span {
    color: #6b7280;
    text-decoration: none;
  }

  .footer a:hover {
    text-decoration: underline;
  }

  .social-icon i{
    border: 1px solid #d1d5db;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: #6b7280;
    font-size: 1.2rem;
    transition: all 0.3s;
  }
  .social-btn{
  display: flex;
  justify-content: center !important;
}

  .social-icon i:hover {
    color: #000;
    border-color: #000;
  }

  .footer-bottom {
    border-top: 1px solid #e5e7eb;
    padding-top: 1rem;
    margin-top: 2rem;
    font-size: 0.9rem;
  }